- var pageTitle = "Изменить пароль"

block content
    .profile__container
        a(href="./profile.pug").profile__goBack
            img(src="/static/images/go-back-icon.svg" alt="")
        .profile__data
            .profile__data__photo
                .profile__changePhoto
                    .profile__changePhoto__overlay
                        span Загрузить
                    img(src="/static/images/change-photo-icon.svg" alt="")
            .profile__data__ownerName
                h3 Harun

            form(action="/")#form__changePassword
                .form__changePassword__item
                    .form__item__flex
                        label(for="oldPassword") Старый пароль
                        input(type="password" name="oldPassword" class="change__data__field" id="oldPassword" value="Qwerty12345")
                    .form__fieldInvalid
                .form__changePassword__item
                    .form__item__flex
                        label(for="password") Новый пароль
                        input(type="password" name="password" class="change__data__field" id="password" value="Qwerty123456")
                    .form__fieldInvalid
                .form__changePassword__item
                    .form__item__flex
                        label(for="confirm_password") Повторите новый пароль
                        input(type="password" name="сonfirm_password" class="change__data__field" id="сonfirm_password" value="Qwerty123456")
                    .form__fieldInvalid
                #{button}
