extends layout/main/main

block variables
    - var pageTitle = "Авторизация"

block content
    .formContainer
    .formBlock
        form(action="/")
            h2(class="form__title") Войдите в аккаунт
            .form__item
                input(type="text" name="login" id="login" class="form__field" required)
                label(class="form__label" for="login") Логин
                .form__fieldInvali
            .form__item
                input(type="password" name="password" id="password"  class="form__field" required)
                label(class="form__label" for="password") Пароль
                .form__fieldInvalid

            .form__item.form__itemSubmit
                button(type="submit" class="btn_green form__btnSubmit") Войти
                a(href="../registration" class="link__toRegistration") Еще не зарегистрированы?
