- var chats = [{photo: "", name: "Андрей", message: "Изображение", time: "10:49", noReadCount: "2"}, { photo: "", name: "Киноклуб", message: "Стикер", time: "12:00", noReadCount: "4"}, {photo: "", name: "Илья", message: "Отлично!", time: "15:12", noReadCount: ""}];
