include ./registration-data

.formContainer
    .formBlock
        form(action="/")
            h2.form__title= formTitle
            for field in formData
                .form__item
                    input(type= field.type name= field.name id= field.id required).form__field
                    label(for= field.id).form__label= field.labelName
                    .form__fieldInvalid

            .form__item.form__itemSubmit
                button(type="submit").btn_green.form__btnSubmit= btnSubmitName
                a(href= toFormPageLink).link__toRegistration= toFormName
