- var formTitle = "Регистрация";
- var btnSubmitName = "Зарегистрироваться";
- var toFormName = "Войти";
- var toFormPageLink = "/";
- var formData = [{type: "email", name: "email", id: "email", labelName: "Почта"}, {type: "text", name: "login", id: "login", labelName: "Логин"}, {type: "text", name: "first_name", id: "first_name", labelName: "Имя"}, {type: "text", name: "second_name", id: "second_name", labelName: "Фамилия"}, {type: "phone", name: "phone", id: "phone", labelName: "Телефон"}, {type: "password", name: "password", id: "password", labelName: "Пароль"}, {type: "password", name: "password", id: "password", labelName: "Пароль (еще раз)"}];
