- var formTitle = "Войти в аккаунт";
- var btnSubmitName = "Войти";
- var toFormName = "Еще не зарегистрированы?";
- var toFormPageLink = "./authorizaton.pug";
- var formData = [{type: "text", name: "login", id: "login", labelName: "Логин"}, {type: "password", name: "password", id: "password", labelName: "Пароль"}];
