//include ./authorization-data
- var formTitle = "Войти в аккаунт";
- var btnSubmitName = "Войти";
- var toFormName = "Еще не зарегистрированы?";
- var toFormPageLink = "./registration.pug";
- var formData = [{type: "text", name: "login", id: "login", labelName: "Логин"}, {type: "password", name: "password", id: "password", labelName: "Пароль"}];

.formContainer
    .formBlock
        form(action="/")
            h2.form__title= formTitle
            for field in formData
                .form__item
                    input(type= field.type name= field.name id= field.id required).form__field
                    label(for= field.id).form__label= field.labelName
                    .form__fieldInvalid

            .form__item.form__itemSubmit
                button(type="submit").btn_green.form__btnSubmit= btnSubmitName
                a(href= toFormPageLink).link__toRegistration= toFormName
