extends layout/main/main

block variables
    - var pageTitle = "Изменить пароль"

block content
    .profile__container
        a(href="./profile.pug").profile__goBack
            img(src="/static/images/go-back-icon.svg" alt="")
        .profile__data
            .profile__data__photo
                .profile__changePhoto
                    .profile__changePhoto__overlay
                        span Загрузить
                    img(src="/static/images/change-photo-icon.svg" alt="")
            .profile__data__ownerName
                h3 Harun

                form(action="/")#form__changePassword
                    .form__changePassword__item.profile__data__row
                        label(for="oldPassword") Старый пароль
                        input(type="password" name="oldPassword" class="change__data__field" id="oldPassword" required value="12345678")

                    .form__changePassword__item.profile__data__row
                        label(for="newPassword") Новый пароль
                        input(type="password" name="newPassword" class="change__data__field" id="newPassword" required value="123456789")

                    .form__changePassword__item.profile__data__row
                        label(for="repeatNewPassword") Повторите новый пароль
                        input(type="password" name="repeatNewPassword" class="change__data__field" id="repeatNewPassword" required value="123456789")

                    button(type="button" class="btn_green btn_savePassword") Сохранить
