extends layout/main/main

block variables
    - var pageTitle = "Сообщения"

block content
        .chatContainer
            .chatContainer__left
                .chatList__header
                    .chatList__gotoProfile
                        a(href="#" class="chatList__gotoProfile__img")
                            img(src="#" alt="")
                        a(href="#" class="chatList__gotoProfile__name") Harun
                    .chatList__search
                        input(type="search" placeholder="Поиск" value="")
                .chatList__items
                    include ./modules/chats/chats

            .chatContainer__right
                .chatMessages__header
                    .contact__gotoProfile
                        a(href="#" class="contact__gotoProfile__img")
                            img(src="#" alt="")
                        a(href="#" class="contact__gotoProfile__name") Илья
                    .chatMessages__header__menu
                        img(src="/static/images/openMenu-icon.svg" alt="")

                include ./modules/messages/messages

                .chatMessages__footer
                    .chatMessages__footer__attach
                        img(src="/static/images/attach-icon.svg" alt="")
                    .chatMessages__footer__input
                        input(type="text" name="message-text" placeholder="Сообщение" required)
                    .chatMessages__footer__btnSend
                        button(type="submit")
                            img(src="/static/images/sendMessage-icon.svg" alt="")
