extends layout/main/main

block variables
    - var pageTitle = "Harun"

block content
    .profile__container
        a(href="./chatList.pug").profile__goBack
            img(src="/static/images/go-back-icon.svg" alt="")
        .profile__data
            .profile__data__photo
                .profile__changePhoto
                    .profile__changePhoto__overlay
                        span Загрузить
                    img(src="/static/images/change-photo-icon.svg" alt="")
            .profile__data__ownerName
                h3 Harun

            .profile__data__row
                .profile__data__name
                    span Почта
                .profile__data__value
                    span aliyevhrn@yandex.ru
            .profile__data__row
                .profile__data__name
                    span Логин
                .profile__data__value
                    span aliyevhrn
            .profile__data__row
                .profile__data__name
                    span Имя
                .profile__data__value
                    span Harun

            .profile__data__row
                .profile__data__name
                    span Фамилия
                .profile__data__value
                    span Aliyev


            .profile__data__row
                .profile__data__name
                    span Имя в чате
                .profile__data__value
                    span Harun


            .profile__data__row
                .profile__data__name
                    span Телефон
                .profile__data__value
                    span +7 (909) 967 30 30

        .profile__changeData
            .profile__changeData__row.profile__data__row
                .profile__changeData__data
                    a(href="./changeData.pug") Изменить данные

            .profile__changeData__row.profile__data__row
                .profile__changeData__password
                    a(href="./changePassword.pug") Изменить пароль
            .profile__changeData__row.profile__data__row
                .profile__changeData__goOut
                    a(href="/") Выйти
